body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-49%, -49%);
}

select, input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid;
    border-radius: 2em;
}